body {
  margin: 0;
  padding: 0;
  border: 2px solid blue;
}

.navbar {
  display: flex;
  height: 70px;
  border: 2px solid red;
}

.logo-name {
  display: flex;
  width: fit-content;
}

.navlink-container {
  width: 50%;
  margin: auto;
}

.navlink-container ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navlinks li {
  margin-left: 10px;
  transition: all 0.15s ease-in-out;
}

.navlinks li:hover {
  cursor: pointer;
  transform: scale(1.05);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.name {
  display: flex;
  align-items: center;
  margin-left: 5px;
  color: aqua;
  font-size: 1.25rem;
  width: 15%;
}

.footer {
height: 50px;
display: flex;
align-items: center;
justify-content: center;
background-color: gray;
color: black;
font-weight: bold;
margin-top: 82vh;
}